@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
}

.alert{
  position: absolute;
  z-index: 10000;
}
/* Header section */

.header-main {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  padding: 0 80px;
  height: 95px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(53, 53, 53, 0.1);
  background-color: white;
  z-index: 80;
}

.image {
  height: 10px;
  width: 100%;
  z-index: 100;
}
.imgg {
  height: 85px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

ul li {
  margin-left: 30px;
  font-size: 1.3em;
  font-weight: 400;
}

ul li a {
  text-decoration: none;
  color: rgb(176, 135, 2);
  padding: 8px;
  transition: all 0.3s ease-in-out;
}

ul li a:hover {
  color: rgb(109, 84, 1);
  background-color: bisque;
  padding: 8px;
  border-radius: 15px;
  transform: translate(-50%, -50%);
}

.phone-icon {
  padding-right: 10px;
  vertical-align: baseline;
}

.notify-badge-head {
  position: absolute;
  top: 15px;
  right: 10%vw;
  padding: 3px 9px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 18px;
}

.dropdown {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: rgb(176, 135, 2);
  outline: none;
  background-color: transparent;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: white;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(176, 135, 2);
  text-decoration: none;
  display: flex;
  font-size: 0.85em;
  text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  color: rgb(176, 135, 2);;
  transform: none;
  border-radius: 0;
}

/* Show the dropdown menu on hov  er */
.dropdown:hover .dropdown-content {
  display: block;
}


/* Footer Section */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background-color: antiquewhite;
}

/* last footer */
.endfooter {
  background-color: rgb(249, 213, 166);
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

/* offer */
.offer {
  padding: 120px;
  padding-bottom: 30px;
  margin: auto;
}

.offer img {
  width: 95%;
  margin: 30px;
  border-radius: 20px;
  z-index: -100;
}

/* search bar */
.search {
  border: none;
  font-size: 17px;
  height: 15px;
  width: 200px;
  background-color: transparent;
  transition: width 0.8s;
}

.search:focus {
  width: 250px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.input-1 {
  border-radius: 15px;
  border: 2px solid rgb(176, 135, 2);
}
.search:focus {
  outline: none;
}

.search-icon {
  color: rgb(176, 135, 2);
}

/* Items section */
.items {
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading-text {
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  width: 100%;
  padding: 20px;
  color: rgb(176, 135, 2);
}

.item-single {
  flex-wrap: wrap;
  position: relative;
  display: inline-block;
  padding: 25px;
  width: 300px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.notify-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 20%;
  background-color: red;
  color: white;
  font-size: 12px;
}
.item-single:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.item-single img {
  width: 250px;
  border-radius: 20px;
  /* ht is 250 wt is 250 */
}
.title {
  text-align: center;
  padding: 6px;
  font-weight: 500;
  font-size: 1.1em;
  color: rgb(176, 135, 2);
}

.extra {
  display: flex;
  justify-content: space-between;
}

/* Bag items */
.bag-main {
  padding: 120px;
  padding-left: 70px;
  display: flex;
}

.item-bag {
  width: 50%;
  margin-right: 30px;
}

.total-bag {
  width: 50%;
}

.item-head {
  font-weight: 500;
  padding: 15px;
  color: rgb(176, 135, 2);
}

.product-single {
  width: 100%;
  height: auto;
  margin: 10px;
  height: 30%vh;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  background-color: rgb(248, 246, 240);
}

.product-single:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.detail-bag {
  width: 70%;
}

.image-bag {
  width: 30%;
}

.title-bag {
  font-size: 1.2em;
  display: block;
  padding-bottom: 10px;
  padding-right: 5px;
  color: rgb(28, 28, 28);
}
.price-bag {
  color: rgb(0, 0, 0);
  font-size: large;
  padding-top: 10px;
  display: block;
}

.delete-bag {
  border: none;
  cursor: pointer;
  height: 50px;
}

/* -- quantity box -- */

.quantity {
  display: inline-block;
}

.quantity .input-text.qty {
  width: 35px;
  height: 40px;
  padding: 0 5px;
  text-align: center;
  border: 2px solid rgb(239, 216, 147, 0.9);
}

.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}

.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 40px;
  background-color: rgb(239, 216, 147, 0.9);
  border: 1px solid rgb(239, 216, 147, 0.9);
  cursor: pointer;
}

.quantity.buttons_added .minus {
  border-right: 0;
}

.quantity.buttons_added .plus {
  border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  background: rgb(216, 184, 87);
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none;
}

.qt-bag {
  margin-bottom: 10px;
  font-size: 0.8em;
}

.move-to {
  margin-left: 30px;
  height: 45px;
  padding: 0 20px;
  font-size: 0.7em;
  border: none;
  background-color: rgb(239, 216, 147, 0.9);
}

.move-to:hover {
  background: rgb(229, 197, 100);
}

/* price section */
.price-main {
  padding: 40px;
  margin: 10px;
  width: 100%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  background-color: rgb(248, 246, 240);
}

.base {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1em;
}

.discount {
  display: flex;
  justify-content: space-between;
  color: rgb(73, 118, 5);
  padding: 10px;
  font-weight: 700;
  font-size: 1.1em;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  font-size: 1.1em;
  background-color: rgb(231, 217, 172);
}

.place-order {
  width: 200px;
  height: 40px;
  font-size: 1.2em;
  margin-top: 20px;
  background-color: rgb(224, 204, 143);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.place-order:hover {
  box-shadow: 0px 0px 0px 3px rgba(120, 119, 119, 0.3);
}
.button-div {
  display: flex;
  justify-content: center;
}

/* thanks page */

.thanks {
  padding: 239px;
}

.thanks-msg {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.thanks-button {
  display: flex;
  justify-content: center;
}

.thx-btn {
  padding: 10px;
  font-size: 1.2em;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(224, 204, 143);
}

.thx-btn:hover {
  box-shadow: 0px 0px 0px 3px rgba(120, 119, 119, 0.3);
}

/* Product detail page */

.product-detail {
  padding-top: 160px;
  margin: 0px 70px;
  display: flex;
}

.product-image {
  max-width: 30%;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-prt {
  width: 90%;
  border-radius: 30px;
  margin-bottom: 30px;
}

.product-desc {
  margin: 30px;
  width: 100%vh;
}

.title-pdt {
  font-size: x-large;
  font-weight: 600;
  display: block;
  margin: 20px 0px;
}

.desc {
  font-size: 1.1em;
  font-weight: 100;
  display: block;
  margin-bottom: 40px;
}

.quantity {
  padding-top: 20px;
  font-size: 1.2em;
}

.wish {
  width: 40%;
  margin: 10px;
  height: 40px;
  border: none;
  font-size: 1.1em;
  border-radius: 10px;
  color: white;
  background-color: rgb(239, 118, 118);
  cursor: pointer;
}

.cart {
  width: 40%;
  margin: 10px;
  border: none;
  font-size: 1.1em;
  border-radius: 10px;
  background-color: rgb(228, 196, 102);
  cursor: pointer;
}

.wish:hover,
.cart:hover {
  box-shadow: 0px 0px 0px 2px rgba(117, 117, 117, 0.5);
}

.dt-head {
  flex: 0 0 100%;
}

.slide-img {
  width: 100%;
  margin: 25px;
}

.sl-img {
  width: 20%;
  padding: 10px;
  cursor: pointer;
}

.sl-img:hover {
  box-shadow: 0px 0px 0px 2px rgba(117, 117, 117, 0.2);
}

.data-qt {
  width: 100%;
  display: flex;
}

.qt-data {
  width: 50%;
}

.price-data {
  width: 50%;
}

.data-detail {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  margin-right: 30px;
}

.wst-detail {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.base-prc-detail {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.final-prc {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(228, 196, 102);
}

.similar-product{
  display: flex;
  margin: 70px 90px;
  flex-wrap: wrap;
}

.title-similar{
  font-weight: 550;
  font-size: 1.4em;
  padding-bottom: 30px;
  flex-basis: 100%;
  color: rgb(216, 166, 14);
}

/* wishlist component */
.wish-cmp {
  padding: 70px 300px;
  margin: 13px;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  align-items: center;
}

.wish-data {
  padding: 120px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wishh {
  font-size: 2em;
  font-weight: 550;
  width: 100%;
  text-align: center;
  margin: 40px;
  color: rgb(202, 151, 0);
}

.wish-item {
  width: 49%;
  flex-wrap: wrap;
}

/* Login Page */
.login{
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;           /* NEW */
  align-content: center;     /* NEW */
  text-align: center;
}

.login-logo{
  width: 15vw;
  padding-bottom: 30px;
}

.login-title{
  font-weight: 400;
  align-items:center;
  flex-basis: 100%;
  width: 100%vh;
  font-size: 2.3em;
  padding-bottom: 20px;
  color: rgb(212, 160, 5);
}

.username-ttle,.password-ttle{
  flex-basis: 100%;
  margin: 10px 0;
  font-size: 1.3em;
  font-weight: 100;
}

.username,.password{
  min-width: 200px;
  height:40px;
  font-size: 1.1em;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.login-info{
  flex-basis: 100%;
}

.login-info{
  font-size: 1.1em;
  font-weight: 200;
  margin: 10px;
}

.reg-link{
  flex-basis: 100%;
}

.login-btn{
  min-width: 200px;
  font-size: 1.3em;
  padding: 5px;
  margin: 10px;
  border: none;
  background-color: rgb(227, 193, 92);
  border-radius: 10px;
  cursor: pointer;
}

.login-btn:hover{
  box-shadow: 0 0 4px 0 rgb(61, 51, 51,0.7);
}

/* Search / catergory section */

.search-pg{
  padding:120px 60px;
  display: flex;
}

.search-filter{
  flex-basis: 15vw;
  margin: 0 20px;
  flex-wrap: wrap;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(227, 193, 92);
  max-height: 300px;
}

.search-result{
  margin: 0 20px;
  padding: 10px;
}

.srch-title{
  font-weight: 500;
  font-size: 1.2em;
  padding-bottom: 10px;
}
.subtitle{
  font-weight: 300;
  font-size: 1.1em;
  padding-bottom: 10px;
  padding-top: 20px;
}

.sort-input{
  width: 100%;
  padding: 10px 0;
}

.radio{
  margin-right: 8px;
  scale: 1.2;
  cursor: pointer;
  
}